<html>
    <body bgcolor=#FFD9B3>

        <center>

        <h1> House Price Prediction </h1><br>

        <form method="POST", action="{{url_for('home')}}">
           <b> Area :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Garage :  <input type="text", name='b', placeholder="enter 2"> <br><br>
             Fire Place  :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            Baths : <input type="text", name='d', placeholder="enter 4"> <br><br>
           White Marble :  <input type="text", name='e', placeholder="enter 5"> <br><br>
            Black Marble :  <input type="text", name='f', placeholder="enter 6"> <br><br>
            Indian Marble :  <input type="text", name='g', placeholder="enter 7"> <br><br>
            Floors : <input type="text", name='h', placeholder="enter 8"> <br><br>
           City :  <input type="text", name='i', placeholder="enter 9"> <br><br>
            Solar :  <input type="text", name='j', placeholder="enter 10"> <br><br>
            Electric :  <input type="text", name='k', placeholder="enter 11"> <br><br>
           Fiber :  <input type="text", name='l', placeholder="enter 12"> <br><br>
            Glass door  :  <input type="text", name='m', placeholder="enter 13"> <br><br>
            Swimming Pool :  <input type="text", name='n', placeholder="enter 14"> <br><br>
            Garden :  <input type="text", name='o', placeholder="enter 15"> <br><br>










           </b>
            <input type="submit" , value='predict!' >
        </form>


    </center>

    </body>
</html>
